<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>
            <b>INGRESAR</b>
          </h3>
        </div>
        <img src="/img/logo.png" alt="Logo Fazt" class="card-img-top mx-auto m-2  w-100" height="120px">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="SADM_USUARIO" placeholder="Nombre de usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="SADM_PASSWORD" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              <i class="fas fa-sign-in-alt"></i> Iniciar Sesion
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
